<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> Também pode ser referido com o link CDN. -->
    <!-- <script src="./vue.js"></script> Referenciando o vue.js para que funcione no navegador. -->
    <script src="./vue.js"></script>
    <style> /* */
    </style>
    <title>Document</title>
</head>
<body>

    <h1>Douglas Rodrigues!</h1>
    <div id="app">
        <!-- Implementando laços de repetição -->
        <!-- Um Array -->
        <!-- V-for um loop de repetição. --> <!-- Também tem essa forma -> <li v-for="curso in cursos" v-text="curso"></li>-->
        <li v-for="curso in cursos">{{ curso }}</li>
        <li v-for="curso in cursos" v-text="curso"></li>
        <li v-for="(curso, chave) in cursos">{{chave}} - {{curso}}</li>
        <hr>

        <table border="">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                    <!-- Para pega o ID -> v-for="curso, chave in cursos2" -->
                    <!-- <tr v-for="({titulo, descricao}, chave) in cursos2"> um modo de destrutuir, um por um {titulo}, {descricao}-->
                    <!-- "(curso, chave) in cursos2" -->
                <tr v-for="({titulo, descricao}, chave) in cursos2"> <!-- destructuring assignment -->
                    <td>{{chave}}</td>
                    <!-- Acessando o objeto. -->
                    <td>{{titulo}}</td>
                    <td>{{descricao}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <!-- Renderização de listas com o atributo Key -->
        <ul>
            <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom: 10px;" :key="p.id">
                {{ p }}
                <hr>
                <input type="text">
            </li>
        </ul>
        <button @click="misturarArray()">Misturar Publicações</button>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                // Array []
                cursos: ['Laravel', 'Web Completo', ' Banco de Dados', 'Solid', 'Angular'],
                // Objetos {}
                cursos2: {
                    1000: {titulo: 'Laravel', descricao: 'Domine o framework PHP mais poderoso do mundo'},
                    1001: {titulo: 'Banco de Dados', descricao: 'Aprenda os principais DBs relacionais do mercado'}
                },
                publicacoes: [
                    { id: 1, publicacao: 'Publicações 1' },
                    { id: 2, publicacao: 'Publicações 2' },
                    { id: 3, publicacao: 'Publicações 3' }
                ]
            },
            methods: {
                misturarArray() { // Um metodo para mistura, so que aqui estamos fazendo eles alterarem só a ordem.
                    let misturado = [] // Array

                    // usando os ID para selecionar.
                    misturado[0] = this.publicacoes[2]
                    misturado[1] = this.publicacoes[0]
                    misturado[2] = this.publicacoes[1]

                    this.publicacoes = misturado
                }
            }
        })
    </script>
</body>
</html>