<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> Também pode ser referido com o link CDN. -->
    <!-- <script src="./vue.js"></script> Referenciando o vue.js para que funcione no navegador. -->
    <script src="./vue.js"></script>
    <style> /* */
    </style>
    <title>Document</title>
</head>
<body>

    <h1>Douglas Rodrigues!</h1>
    <div id="app">
        <h4>Adicionar pacientes</h4>
        <span>Nome: </span><input type="text" id="inputNome"><br>
        <span>Idade: </span><input type="text" id="inputIdade"><br>
        <span>Plano: </span><input type="text" id="inputPlano"><br>
        <button @click="adicionarPaciente()">Adicionar</button>
        <hr>
        <h4>Último paciente cadastrado</h4>
        <p v-if="pacientes.length > 0">
            {{ ultimoPaciente }}
        </p>
        <hr>
        <h4>Pacientes do plano Ouro</h4>
        <!-- Se plano for igual a ouro se sim traga o nome se não traga vazio.-->
        <p v-for="p in pacientesPlanoOuro">{{p.nome }}</p>
        <hr>


        <h4>Pacientes cadastrados</h4>
        <p v-for="p in pacientes">{{p.nome}}</p>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                // Array de pacientes.
                pacientes: []
            },
            methods: {
                // Array de pacientes.
                adicionarPaciente() {
                    this.pacientes.push({
                            nome: inputNome.value,
                            idade: inputIdade.value,
                            plano: inputPlano.value
                        })
                }
            },
            // Criando uma propriedade computadada.
            computed: {
                ultimoPaciente() {
                    let key = this.pacientes.length - 1
                    let txt = ''

                    txt += 'Paciente ' + this.pacientes[key].nome
                    txt += ', Idade ' + this.pacientes[key].idade
                    txt += ', Plano ' + this.pacientes[key].nome

                    return txt
                },
                // Fazendo um filtro para peha apenas o Plano ouro
                pacientesPlanoOuro() {
                    return this.pacientes.filter(item => item.plano == 'Ouro')
                },
                
            }
        })
    </script>
</body>
</html>